<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Builds</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <h1>Builds</h1>

    <h5 th:if="${builds.size() > 0}">
        Aquí tienes todas las builds registradas
    </h5>
    <p th:unless="${builds.size() > 0}">
        No hay builds registradas en el sistema
    </p>

    <table class="table table-striped" th:if="${builds.size() > 0}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Warframe</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="build : ${builds}">
            <td th:text="${build.buildId}"></td>
            <td th:text="${build.name}"></td>
            <td th:text="${build.warframe.name}"></td>
            <td>
                <a th:href="@{/builds/{id}(id=${build.buildId})}"
                   class="btn btn-primary btn-sm">
                    Detalles
                </a>

                <a th:href="@{/builds/editar/{id}(id=${build.buildId})}"
                   class="btn btn-warning btn-sm">
                    Editar
                </a>

                <a th:href="@{/builds/borrar/{id}(id=${build.buildId})}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Seguro que quieres borrar esta build?')">
                    Eliminar
                </a>

            </td>
        </tr>
        </tbody>
    </table>

    <div class="mt-3">
        <a th:href="@{/builds/add}" class="btn btn-success">Crear Nueva Build</a>
        <a th:href="@{/}" class="btn btn-secondary ms-2">Volver al Inicio</a>
    </div>
</div>
</body>
</html>
